body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #22668a;
}
.navbar-light .navbar-brand {
  color: #ffffff !important;
}
.category-aktif{
  background-color: #22668a;
  color: #ffffff;
}
.btn-primary{
  background-color: #22668a;
}
.navbar-nav .nav-link{
  color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
